# Đánh dấu các file Markdown / Release Notes / Documentation là tài liệu (Documentation) -> Không tính vào phần trăm ngôn ngữ lập trình
*.md linguist-documentation
*.txt linguist-documentation
docs/* linguist-documentation

# Ẩn hoàn toàn các file TeX/LaTeX (nếu có lưu trong repo) khỏi thanh thống kê
*.tex linguist-detectable=false
*.sty linguist-detectable=false

# Ép nhận diện Python là ngôn ngữ code chính
*.py linguist-language=Python
