# Bỏ qua hoàn toàn TeX, HTML và Inno Setup khỏi thống kê ngôn ngữ
*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.iss linguist-detectable=false

# Nếu có file Markdown (.md) bị nhầm thành TeX thì dùng thêm dòng này
*.md linguist-detectable=false

# Đảm bảo nhận diện Python là ngôn ngữ chính
*.py linguist-language=Python
